.blue{color: steelblue;font-family:Roboto Slab;margin-top: 20px;margin-left: 50px;margin-right: 50px;margin-buttom: 50px;font-size: 25px;}
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }


.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}



.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

   







.ws:hover{background-color: lightskyblue;color: lightpink;opacity: 90%;}




.link{text-decoration: none;background-color: skyblue;
  color: white;margin-left: -6px;padding: 10px;font-family: Rowdies;}

.link:hover{background-color: lightblue;opacity: 80%;}
 
 .container{font-family:satisfy;text-shadow: 5px 5px 5px grey;text-align: center;}
.container:hover{color:lightblue;background-color:lightyellow;}

.ws{background-size:width:50% ; height:50%; box-shadow:10px 10px 5px #ccc; 
  background-color:lightpink;font-family:'Quintessential', cursive ;
   font-size:380%; color:white;text-align: center;}
}
#six{font-size: 20px;}

table {
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #d4d4d4;
  font-size: 20px;
  background: #fff;
}

table th, 
table tr:nth-child(2n+2) {
  background: #e7e7e7;
}
 
table th, 
table td {
  padding: 20px 50px;
}
 
table th {
  border-bottom: 1px solid #d4d4d4;
}     

.pp{color: steelblue;background-color: white;font-family:Patrick Hand;margin-top: 50px;margin-left: 50px;margin-right: 50px;margin-buttom: 50px;font-size: 30px;}



*,
*:before,
*:after {
	box-sizing: border-box;
}

section {
  max-width: 1000px;
  margin: 2.6em auto;
  padding: 0 4%;
}

}
.photo-stack-grid {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.photo-stack-grid:after {
  content: " ";
  display: table;
  clear: both;
}
.photo-stack-grid li {
  width: 46%;
  float: left;
  margin: 0 8% 2.8em 0;
}
.photo-stack-grid li:nth-child(2n) {
  margin-right: 0;
}

.photo-stack-grid li:nth-child(2n + 1) {
  clear: left;
}

.photo-stack-grid a {
  display: block;
  color: #333;
  text-decoration: none;
  font: 600 0.8em/1.3 "Open Sans", sans-serif;
  
}
span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.photo-stack {
	position: relative;
	margin: 0 4% 2em;
  display: block;
}
.photo-stack:before,
.photo-stack:after,
.photo-stack img {
	display: block;
	background: #ccc;
	border: 5px solid #fff;
  border-radius: 3px;
	padding: 1px;
	
}
.photo-stack:before,
.photo-stack:after {
  content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: #969289;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  transform: rotate(6deg);
}
.photo-stack:after {
	transform: rotate(10deg);
  z-index: -1;
}
.photo-stack img {
	transform: rotate(0deg);
	width: 100%;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2),
              0 14px 18px -12px rgba(0, 0, 0, 0.9);
}

h4{
  padding: 2% 1%;
  margin: auto;
  letter-spacing: 9px;
  font-size: 50px;
  color: #6d94d6;
  text-shadow: 0px 1px 0px #6a9ef7;
  filter: drop-shadow(2px 2px 20px #76a0b3);
}


.bb{border-width: 7px;border-style: dotted;border-radius: 15px 50px;border-color: aliceblue;}


#slider-wrapper {
  width: 940px;
  height: 470px;
  margin: 50px auto;
  position: relative;
  margin-bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

#s1 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: -36px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s2 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: -12px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s3 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: 12px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s4 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: 36px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s1:hover,
#s2:hover,
#s3:hover,
#s4:hover {
  opacity: .50;
}

.inner-wrapper {
  width: 940px;
  height: 470px;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0px;
  overflow: hidden;
}

.control {
  display: none;
}

#Slide1:checked ~ .overflow-wrapper {
  margin-left: 0%;
}

#Slide2:checked ~ .overflow-wrapper {
  margin-left: -100%;
}

#Slide3:checked ~ .overflow-wrapper {
  margin-left: -200%;
}

#Slide4:checked ~ .overflow-wrapper {
  margin-left: -300%;
}

#Slide1:checked + #s1 {
  opacity: 1;
}

#Slide2:checked + #s2 {
  opacity: 1;
}

#Slide3:checked + #s3 {
  opacity: 1;
}

#Slide4:checked + #s4 {
  opacity: 1;
}

.overflow-wrapper {
  width: 400%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slide img {
  width: 25%;
  float: left;
}

arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

   

#MAINgallery{
  position:relative;
  width:100%;
  overflow:hidden;
  padding-bottom:40%;
}
.Gal_Slider{
  position:absolute;
  top:0px
  left:0%;
  width:100%;
}
.Gal_Foto{
  position:absolute;
  top:0px
  left:0%;
  width:100%;
}
.ArwLeft{
  cursor:pointer;
  width:40px;
  height:60px;
  position:absolute;
  left:0px;
  top:46%;
  background:black;
  color:white;
  font-size:24px;
  font-weight:bold;
  text-align:center;
  line-height:40px;
}
.ArwRight{
  cursor:pointer;width:40px;
  height:60px;
  position:absolute;
  right:0px;
  top:46%;
  background:black;
  color:white;
  font-size:24px;
  font-weight:bold;
  text-align:center;
  line-height:40px;
}
.MyIMG{
width:100%;height: 100%;
}
.trans_anim_all_class{
-moz-transition: all 0.5s;
-webkit-transition: all 0.35s;
-ms-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}









.link{text-decoration: none;background-color: grey;
  color: white;margin-left: -6px;padding: 10px;font-family: Rowdies;}

.link:hover{background-color: lightblue;opacity: 80%;}



* {
  margin:0;
  padding:0;
  font-family:"Helvetica Neue", Helvetica, Sans-serif;
  word-spacing:-2px;
}

#vgy{  font-size:30px;
  font-weight:bold;
  color:#191919;
  -webkit-font-smoothing: antialiased;
}

#gyv{
  font-weight:normal;
  font-size:10px;
  color:#888;
  padding:5px 0;
}

.message {
background:#181818;
color:#FFF;
position: absolute;
top: -250px;
left: 0;
width: 100%;
height: 250px;
padding: 20px;
transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
overflow: hidden;
box-sizing: border-box;
  
}

.message h1 {
  color:#FFF;
}

#toggle {
  position:absolute;
  appearance:none;
  cursor:pointer;
  left:-100%;
  top:-100%;
}

#toggle + label {
  position:absolute;
  cursor:pointer;
  padding:10px;
  background: #26ae90;
width: 100px;
border-radius: 3px;
padding: 8px 10px;
color: #FFF;
line-height:20px;
font-size:12px;
text-align:center;
-webkit-font-smoothing: antialiased;
cursor: pointer;
  margin:20px 50px;
  transition:all 500ms ease;
}
#toggle + label:after {
  content:"Open" 
}

.cont{
transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  padding:5em 3em;
}

#toggle:checked ~ .message {
  top: 0;
}

#toggle:checked ~ .container {
  margin-top: 250px;
}

#toggle:checked + label {
  background:#dd6149;
}

#toggle:checked + label:after {
  content:"Close"
}

.name{background-size:width:50% ; height:15%; box-shadow:10px 10px 5px #ccc; 
  background-color:lightpink;font-family:'Quintessential', cursive ;
   font-size:380%; color:white;text-align: center;}
}


 input,
span,
label,
textarea {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 22px;
}

textarea:focus,
input:focus {
  outline: 0;
}
/* Question */

input.question,
textarea.question {
  font-size: 48px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 80%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.question + label,
textarea.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 1px solid red;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label,
textarea.question:focus + label {
  width: 80%;
}

input.question:focus,
input.question:valid {
  padding-top: 35px;
}

textarea.question:valid,
textarea.question:focus {
  margin-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -100px;
  font-size: 22px;
  color: #33;
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -150px;
  font-size: 22px;
  color: #333;
}

input.question:valid + label,
textarea.question:valid + label {
  border-color: green;
}

input.question:invalid,
textarea.question:invalid {
  box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8F8F8F;
  font-size: 48px;
  top: -66px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #EEE;
}

input[type="submit"]:active {
  background: #999;
}

input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}
 
@
@import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}



.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.bhu{
  padding: 1em 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px){
  .bhu{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .bhu{
    width: 33.33333%;
  }
}

.bhu .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}

>
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
  background: #262626;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif }
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;
  align-items: stretch;
  width: 100%;
  margin: auto 0;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .grid {
    width: 540px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .grid {
    width: 720px;
  }
}

@media (min-width: 992px)
{
  .grid {
    width: 960px;
  }
}

@media (min-width: 1200px)
{
  .grid {
    width: 1140px;margin-left: 130px;
  }
}

.mycard {
  text-align: center;
  position: relative;
  border-radius: 15px;
  padding: 40px 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transition: .5s;
  overflow: hidden;
}

.mycard:hover {
  transform: scale(1.1);
}

.basic,
.basic .title .fa {
  background: linear-gradient(-45deg, #f403d1, #64b5f6);
}

.standard,
.standard .title .fa{
  background: linear-gradient(-45deg, #ffec61, #f321d7);
}

.premium,
.premium .title .fa {
  background: linear-gradient(-45deg, #24ff72, #9a4eff);
}

.mycard::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  transform: skewY(-5deg) scale(1.5);
}

.title .fa {
  color: #fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.20);
}

.title h2 {
  position: relative;
  margin: 20px 0 0;
  color: #fff;
  font-size: 28px;
  z-index: 2;
}

.price {
  position: relative;
  z-index: 2;
}

.price h4 {
  margin: 0;
  padding: 20px 0;
  color: #fff;
  font-size: 60px;
}

.option {
  position: relative;
  z-index: 2;
}

.option ul {
  margin: 0;
  padding: 0;
}

.option ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 16px;
}

.mycard a {
  position: relative;
  z-index: 2;
  border-radius: 8px;
  margin: 30px auto 8px;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.20);
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  font-weight: bold;
}




body {
  
  background-size: cover;
background-repeat: no-repeat;
   align-items: center;
  justify-content: center;
}
#title{
  font-size: 70px;
  color: white;
  font-family: cursive;
  font-style: bold;
  text-align: center;
  text-shadow: 1px 1px 1px gray;
}

.web{
  text-decoration: none;
}
.cardlg{
  padding: 20px 16px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-beginning;
}
.cards {
  padding-left: 220px;
  height: 232px;
  margin: 0 -88px 0 0;
  display: flex;
  align-self: flex-end;
}
.cardb {
background-size: cover; 
background-position: center center;
  border-radius: 8px;
  width: 200px;
  height: 300px; 
  margin: 0 8px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  transition: 0.3s ease;
}
.cardb:hover{
  margin: -8px 8px 0;
}
 .cardtextp {
  font-family:cursive;
    font-size: 20px;
    color: white;
    opacity: 0.8;

  }
  
  .cardtexth {
    font-family:cursive;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1.4px;
    color: white;
  } 
/*sichuan bar*/
.sichuanbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #00a087;
}
.sibar{
  padding-right: 40px;
  color: white;
  font-family: cursive;
  font-size: 20px;
  opacity: 0.8;
}
#siheader{
  margin-left: 535px;
}



/*sichuan traveling*/
.mingzi{
color:#00a087; ;
font-family: cursive;
font-size: 80px;
text-shadow:1px 1px 1px white;
margin-top: 80px;
}
#siintro{
  font-family: cursive;
  margin: 30px 50px 30px 50px;
  display: inline;
}
#readmore{
  font-family: cursive;
  margin: 30px 50px 30px 50px;
  display: inline;
  color: black;
}
/*panda*/
.panda{
  font-family: cursive;
  color: white;
  font-size: 50px;
 padding-top: 100px;
}
#map{
  float: left;
  margin-left: 50px;
  font-family: cursive;
  font-size: 30px;
  color: white;
}
.pandaintro{
  color: white;
  font-size: 30px;
  font-family: cursive;
  text-indent: 50px;
  line-height: 85px;
  text-shadow:2px 2px 2px darkgreen;
  padding-left: 50px;
}
/* sichuan jingdian  */
.card-image {
  display: block;
  min-height: 20rem; /* layout hack */
  background: #fff center center no-repeat;
  background-size: cover;
  filter: blur(3px); /* blur the lowres image */
}

.card-image > img {
  display: block;
  width: 100%;
  opacity: 0; /* visually hide the img element */
}

.card-image.is-loaded {
  filter: none; /* remove the blur on fullres image */
  transition: filter 1s;
}




/* Layout Styles */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
}

.card-list {
  display: block;
  margin: 1rem auto;
  padding: 0;
  font-size: 0;
  text-align: center;
  list-style: none;
}

.card {
  display: inline-block;
  width: 90%;
  max-width: 20rem;
  margin: 1rem;
  font-size: 1rem;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
  transform: translateY(-0.5rem) scale(1.0125);
  box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
  display: block;
  padding: 1em 0.5em;
  color: #515151;
  text-decoration: none;
}

.card-description > h2 {
  margin: 0 0 0.5em;
}

.card-description > p {
  margin: 0;
}
/*Tibet*/
/*bar*/
.tab-bar {

  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;

}


.tab {
  width: 150px;
  padding: 20px 0;
  background: white;
  color: #607D8B;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-top: 0px;
}
.tab:hover{
  background-color: lightgray;
}
.connection{
  text-decoration: none;
}

.indicator {
  width: 150px;
  height: 3px;
  background: #2196F3;
  position: absolute;
  margin-top: 58px;
  margin-left:0;
}
#header{
  padding-left: 380px;
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
}
/*content*/
#tibetmingzi{
  color: white ;
font-family: cursive;
font-size: 80px;
text-shadow:1px 1px 1px white;
margin-top: 80px;
}
.intro{
  font-size: 20px;
  font-family: cursive;
  background-color:white;
  opacity: 0.5;
}
.colwmn{
  float: left;
  width: 50%;
  text-align:center;
}
.basic{
  font-family: cursive;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 2px gray;
}
/*tibet form*/
#following{
  float: left;
  width: 100%;
}
.basicinformation{
  font-family: cursive;
  color: white;
  font-size: 40px;
}
#form_name{
  display: inline;
  color: white;
  font-family: cursive;
  font-size: 25px;
  margin-left: 100px;
}
.form{
  color: white;
  margin-left: 100px;
  font-family: cursive;
  font-size: 25px;
}
#little{
  color: white;
  font-family: cursive;
}
.colwmn_form{
  float: left;
  width: 33.3%;
}
#form_age{
  color: white;
  margin-left: 100px;
}
#form_heart{
  color: white;
  margin-left: 100px;
}
#form_respiratory{
  color: white;
  margin-left: 100px;
}
#date{
  color: white;
  margin-left: 100px;
  font-family: cursive;
  font-size: 25px;
}
#endform{
  float: left;
  width: 100%;
}
/*attractions*/
#attractions{
  font-family: cursive;
  color: white;
  font-size: 40px;
}
#foot{
  float: left;
  width: 100%;
}







